*{
    margin: 0px;
    padding:0px;
}
@media only screen and (max-width: 600px) {
    body {
     margin:0;
     padding:0;
     top:0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color:white;
    }
    /* Navigation Bar style starts here */
        .navigation{
            overflow: hidden;
            padding:10px;
            height:50px;
            width:100%;
            display:grid;
            grid-gap: 6px;
            grid-template-columns: 3fr 8fr 2fr;
            box-shadow: 0 2px 2px -2px gray;
            position: fixed;
            background-color:white;
        
        }
        .navigation img{
            height:50px;
             width:50px;
            line-height:50px;
        }

        .search{
            width:100%;
           
            left:3px;
            line-height: 50px;
            
        }

        .searchButton{
            background: none;
            border:none;
            outline:none;
        }
       
        /* Navigation Bar style ends here */


/* Cateogories Style is here */

        .category{
        padding:10px;
        background-color:white;
        margin-top:50px;
        box-shadow: 0 12px 2px -2px ghostwhite;
        display:flex;
        flex-direction: row;
        height:100px;
        }
        .category li{
            background-color:ghostwhite;
           
            list-style: none;
            padding:10px;
            margin: 10px;
            height:45px;
            width:45px;
            text-align: center;
            line-height: 53px;
            box-shadow: 0px 0px 2px 2px grey; /*any color you want*/
            border-radius:30px;
            
        }
        
        .subtitle{
            font-size:10px;

        }

        

.news-content{
    height:auto;
    padding:10px;
}

/* home news */
.homenews{
    overflow:hidden;
    margin:10px;
   display: grid;
   grid-template-rows: auto;
   grid-template-columns: 1fr;
}
.homenews .content{
    height:150px;
    display:grid;
    grid-template-columns: 2fr 4fr;
    box-shadow: 0 12px 2px -2px ghostwhite;
    border-radius:20px;
    padding:10px;
}
.homenews .content img{
    height:100px;
    width:110px;
    line-height: 100px;
    padding:10px;
    overflow: hidden;
    background-size: cover;
}
.homenews .content .descriptions{
    padding:10px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
}














  }


  